{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4 text-center">
            <h1 class="community-heading">Add a Recipe <i class="fas fa-regular fa-carrot"></i></h1>
            <div class="add-post-container">
                {% if user.is_authenticated %}
                <form method="POST" action="add_recipe">
                        {{ recipe_form.title|as_crispy_field }}
                        <div class="hide-slug">{{ recipe_form.slug|as_crispy_field }}</div>
                        {{ recipe_form.description|as_crispy_field }}
                        {{ recipe_form.ingredients|as_crispy_field }}
                        {{ recipe_form.instructions|as_crispy_field }}
                        {{ recipe_form.recipe_type|as_crispy_field }} 
                        {% if show_image_field %}
                        {{ recipe_form.recipe_image|as_crispy_field }}
                        {% endif %}

                        {% csrf_token %}
                    <div class="add-btn-container text-center">
                        <button class="btn community-btn-sm" type="submit">Create Post</button>
                    </div>
                </form>
                {% else %}
                <h2 class="m-4 purple-text">Please sign in or sign up to view this content.</h2>
                {% endif %}
                </div>
            </div>
        <div class="col-12 m-2 text-center">
            <a href="{% url 'community' %}" class="btn community-btn-sm">
                <i class="fa-solid fa-chevron-left"></i> Back to Community</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const titleField = document.getElementById("id_title");
        const slugField = document.getElementById("id_slug");

        titleField.addEventListener("input", function () {
            const titleValue = titleField.value.toLowerCase();
            const slugValue = titleValue.replace(/[^a-z0-9]+/g, "-");
            slugField.value = slugValue;
        });
    });
</script>

{%endblock%}
