{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <span class="text-center">
                <h1 class="community-heading">Add a Workout <i class="fas fa-solid fa-dumbbell"></i></h1>
            </span>
            <div class="add-post-container">
                {% if user.is_authenticated %}
                <form method="POST" action="add_workout">
                    {{ workout_form|crispy }}
                    {% csrf_token %}
                    <div class="add-btn-container text-center">
                        <button class="btn community-btn-sm" type="submit">Create Post</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}