{% extends "base.html" %} {% load static %} {% block content %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<a href="{% url 'recipes' %}" class="btn btn-black rounded-0 btn-lg">Link to recipe page</a>
<a href="{% url 'workouts' %}" class="btn btn-black rounded-0 btn-lg">Link to workouts page</a>
<a href="{% url 'other_posts' %}" class="btn btn-black rounded-0 btn-lg">Link to other posts page</a>
<a href="{% url 'user_posts' %}" class="btn btn-black rounded-0 btn-lg">Link to logged in users posts</a>
<a href="{% url 'add_recipe' %}" class="btn btn-black rounded-0 btn-lg">Add recipe post</a>
<a href="{% url 'add_workout' %}" class="btn btn-black rounded-0 btn-lg">Add workout post</a>


{%endblock%}
