{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <span class="text-center">
                <h1 class="community-heading">Edit Workout <i class="fas fa-solid fa-dumbbell"></i></h1>
            </span>
            <div class="add-post-container">
                {% if user.is_authenticated %}
                <form method="POST">
                        {{ workout_form.title|as_crispy_field }}
                        <div class="hide-slug">{{ workout_form.slug|as_crispy_field }}</div>
                        {{ workout_form.equipment|as_crispy_field }}
                        {{ workout_form.exercises|as_crispy_field }}
                        {{ workout_form.instructions|as_crispy_field }}
                        {{ workout_form.workout_type|as_crispy_field }}
                        
                        {% if show_image_field %}
                        {{ workout_form.image|as_crispy_field }}
                        {% endif %}
                        
                        {% csrf_token %}
                    <div class="add-btn-container text-center">
                        <button class="btn community-btn-sm" type="submit">Edit Post</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const titleField = document.getElementById("id_title");
        const slugField = document.getElementById("id_slug");

        titleField.addEventListener("input", function () {
            const titleValue = titleField.value.toLowerCase();
            const slugValue = titleValue.replace(/[^a-z0-9]+/g, "-");
            slugField.value = slugValue;
        });
    });
</script>

{%endblock%}