{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <span class="text-center">
                <h1 class="community-heading">Edit Post <i class="fa-solid fa-message"></i></h1>
            </span>
            <div class="add-post-container">
                {% if user.is_authenticated %}
                <form method="POST">
                    {{ other_post_form.title|as_crispy_field }}
                    <div class="hide-slug">{{ other_post_form.slug|as_crispy_field }}</div>
                    {{ other_post_form.content|as_crispy_field }}
                    
                    {% if show_image_field %}
                    {{ recipe_form.recipe_image|as_crispy_field }}
                    {% endif %}
                    
                    {% csrf_token %}
                    <div class="add-btn-container text-center">
                        <button class="btn community-btn-sm" type="submit">Edit Post</button>
                    </div>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const titleField = document.getElementById("id_title");
        const slugField = document.getElementById("id_slug");

        titleField.addEventListener("input", function () {
            const titleValue = titleField.value.toLowerCase();
            const slugValue = titleValue.replace(/[^a-z0-9]+/g, "-");
            slugField.value = slugValue;
        });
    });
</script>

{%endblock%}