{% extends "base.html" %} {% load static %} {% block content %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<div class="container">

    <div class="row">
        <div class="col-12 m-4 text-center">
            <h1 class="community-heading">Your Blog Posts</h1>
            <hr>
        </div>
    </div>

<!-- table with logged in users recipes -->

    <div class="row">
        <div class="col-12 m-2">
            <h2 class="community-sub-heading">Your Recipes</h2>

    <div class="table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                
            </tr>
                </thead>
                <tbody>
                    {% for recipe in user_recipes %}
                    <tr>
                        <td scope="row"></td>
                        <td><a href="{% url 'recipe_detail' recipe.slug %}" class="post-link text-decoration-none">
                            <h2 class="card-title">{{ recipe.title }}</h2>
                        </a><p class="text-muted h6">{{ recipe.created_on }}</p></td>
                        <td class="d-flex flex-wrap">
                                <a href="{% url 'edit_recipe' slug=recipe.slug %}" class="community-btn-sm edit-delete-btn m-2">
                                    Edit</a>
                                
                                <a href="{% url 'delete_recipe' slug=recipe.slug %}" class="community-btn-sm edit-delete-btn m-2">
                                    Delete</a>
                        </td>
{% empty %}
<tr>
    <td></td>
    <td class="purple-text">You have no recipes to show right now <i class="fa-regular fa-face-smile"></i></td>
    <td></td>
    <td></td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
</div>
</div>

<hr>

<!-- table with logged in users workouts-->

    <div class="row">
        <div class="col-12 m-2">
            <h2 class="community-sub-heading">Your Workouts</h2>
    
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
    
                        </tr>
                    </thead>
                    <tbody>
                        {% for workout in user_workouts %}
                        <tr>
                            <td scope="row"></td>
                            <td><a href="{% url 'workout_detail' workout.slug %}" class="post-link text-decoration-none">
                                <h2 class="card-title">{{ workout.title }}</h2>
                            </a><p class="text-muted h6">{{ workout.created_on }}</p></td>
                            <td class="d-flex flex-wrap">
                                <a href="{% url 'edit_workout' slug=workout.slug %}"
                                    class="community-btn-sm edit-delete-btn m-2">
                                    Edit</a>
    
                                <a href="{% url 'delete_workout' slug=workout.slug %}"
                                    class="community-btn-sm edit-delete-btn m-2">
                                    Delete</a>
                            </td>
    {% empty %}
    <tr>
        <td></td>
        <td class="purple-text">You have no workout posts to show right now <i class="fa-regular fa-face-smile"></i></td>
        <td></td>
        <td></td>
    </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<hr>

<!-- table with logged in users other posts-->


<div class="row">
    <div class="col-12 m-2">
        <h2 class="community-sub-heading">Your Other Posts</h2>

        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    {% for other_post in user_other_posts %}
                    <tr>
                        <td scope="row"></td>
                        <td><a href="{% url 'other_post_detail' other_post.slug %}" class="post-link text-decoration-none">
                            <h2 class="card-title">{{ other_post.title }}</h2>
                        </a><p class="text-muted h6">{{ other_post.created_on }}</p></td>
                        <td class="d-flex flex-wrap">
                            <a href="{% url 'edit_other_post' slug=other_post.slug %}"
                                class="community-btn-sm edit-delete-btn m-2">
                                Edit</a>

                            <a href="{% url 'delete_other_post' slug=other_post.slug %}"
                                class="community-btn-sm edit-delete-btn m-2">
                                Delete</a>
                        </td>

{% empty %}

<tr>
    <td></td>
    <td class="purple-text">You have no other posts to show right now <i class="fa-regular fa-face-smile"></i></td>
    <td></td>
    <td></td>
</tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-12 m-4 text-center">
            <a href="{% url 'community' %}" class="btn community-btn-sm"><i class="fas fa-chevron-left"></i> Back to
                Community</a>
        </div>
    </div>

</div>

{%endblock%}