{% extends "base.html" %}
{% load static %}

{% block content %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% if user.is_authenticated %}

<div class="container">

    <div class="row">
        <div class="col-md-6 mt-4">
            {% if "placeholder" in other_post.image.url %}
                <img class="img-fluid" src="https://res.cloudinary.com/dlbny6lhn/image/upload/v1701465538/no_image_other_goasol.jpg" alt="white flowers on pink background">
            {% else %}
                <img class="img-fluid" src=" {{ other_post.image.url }}">
            {% endif %}
        </div>
        <div class="col-md-6 mt-lg-4">
            <h1 class="community-heading">{{ other_post.title }}</h1>
            <p class="text-muted h6 mb-3">By {{ other_post.author.user.username }} | {{ other_post.created_on}}</p>
              <hr>
            <p class="purple-text">Post:</p>
            <div>{{ other_post.content | linebreaks }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3 mt-lg-3">
            <a href="{% url 'other_posts' %}" class="btn community-btn-sm"><i class="fa-solid fa-chevron-left"></i> 
                Back to Posts
            </a>
        </div>
    </div>
</div>

{% else %}

<h2 class="m-4 purple-text">Please sign in or sign up to view this content.</h2>

{% endif %}

{% endblock %}