{% extends "base.html" %} {% load static %} {% block content %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 m-3 text-center">
            <h2 class="community-heading">Other Posts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-2 text-lg-end text-center">
            <a href="{% url 'add_other' %}" class="btn community-btn-sm">Add other post</a>
        </div>
        <div class="col-lg-6 col-sm-12 md-2 text-lg-start text-center">
            <a href="{% url 'community' %}" class="btn community-btn-sm">Back to Community</a>
        </div>
    </div>
        <div class="col-12 mt-3">
            <div class="row justify-content-center">
                {% for other_post in other_posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in other_post.image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dlbny6lhn/image/upload/v1701465538/no_image_other_goasol.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ other_post.image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="text-muted">Author: {{ other_post.author.user.username }}</p>
                                </div>
                            </div>
                            <a href="{% url 'other_post_detail' other_post.slug %}" class="post-link text-decoration-none">
                                <h2 class="card-title">{{ other_post.title }}</h2>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ other_post.created_on}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{%endblock%}