{% extends "base.html" %} {% load static %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ other_post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle"> {{ other_post.author }} | {{ other_post.created_on}}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in other_post.image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dlbny6lhn/image/upload/v1701465538/no_image_other_goasol.jpg">
                {% else %}
                <img class="card-img-top" src=" {{ other_post.image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <hr>
                {{ other_post.content | safe }}
            </div>
            <hr>
            <!-- The post content goes inside the card-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <p class="card-text "></p>
            <div class="row">

                <div class="col-1">
                    <!-- The number of likes goes before the closing strong tag -->
                    <strong class="text-secondary"><i class="far fa-heart"></i> </strong>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}