{% extends "base.html" %}
{% load static %}

{% block content %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in workout.image.url %}
            <img class="card-img"
                src="https://res.cloudinary.com/dlbny6lhn/image/upload/v1701465524/no_image_workout_pv8xmk.jpg">
            {% else %}
            <img class="card-img" src=" {{ workout.image.url }}">
            {% endif %}
        </div>
        <div class="col-md-6 mt-lg-4">
            <h1 class="community-heading">{{ workout.title }}</h1>
            <p class="text-muted h6 mb-3">By {{ workout.author.user.username }} | {{ workout.created_on}}</p>
            <hr>
            <p class="purple-text">Equipment:</p>
            <p>{{ workout.equipment }}</p>
            
            <p class="purple-text">Exercises:</p>
            <p>{{ workout.exercises }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-lg-4">
            <p class="purple-text">Instructions:</p>
            <p>{{ workout.instructions }}</p>
        </div>
    </div>
</div>
{% endblock %}