html,
body {
    height: 100%;
    margin: 0;
}

:root {
    /** color scheme **/
    --purple: #581845;
    --lavender: #e6ddf0;
    --light-pink: #ffe9ec;
    --light-yellow: #feffd6;
}

.pink-background {
    background-color: var(--light-pink);
}

.purple-text {
    background-color: var(--purple);
}

.smaller-btn {
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: pink;
    color: purple;
    border: 2px solid purple;
    border-radius: 4px;
    transition-duration: 0.2s;
}

.smaller-btn:hover {
    background-color: purple;
    color: pink;
}

/*  media queries for screens smaller than 480px */
@media screen and (max-width: 480px) {
    .smaller-btn {
        font-size: 0.9rem;
        padding: 0.2rem 0.7rem;
    }

}

/* relative page container for footer positioning */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
}

/* navbar css */

#navbar {
    background-color: white;
    border-bottom: var(--purple) solid 2px;
}

.nav-item p {
    color: var(--purple);
}

.nav-item i {
    color: var(--purple);
}

#nav-cart i {
    color: darkgreen;
}

#nav-cart p {
    color: darkgreen;
}

.logo {
    color: var(--purple) !important;
    font-weight: bold;
}

/* home page css */

.hero-container {
    position: relative;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.hero-text-container {
    color: var(--purple);
    background-color: white;
    opacity: 0.9;
    min-width: 60%;
    max-height: 80%;
    padding: 3rem;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.home-btn {
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    background-color: pink;
    color: purple;
    border: 2px solid purple;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.home-btn:hover {
    background-color: purple;
    color: pink;
}

.home-page-content {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px var(--purple);
}

.home-page-content h2 {
    color: var(--purple);
    font-weight: bold;
    text-transform: uppercase;
}

.small-home-btn {
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    background-color: pink;
    color: purple;
    border: 2px solid purple;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.small-home-btn:hover {
    background-color: purple;
    color: pink;
}

.home-img-container {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

#box3 {
    border-bottom: none;
    margin-bottom: 1.5rem;
}

/* home page media queries for screens smaller than 600px */
@media screen and (max-width: 610px) {

    .hero-text-container {
        padding: 1.5rem;
    }

    .hero-text-container h1 {
        font-size: 1.6rem;
    }

    .home-btn {
        font-size: 1.1rem;
    }

    .home-page-content {
        font-size: 1.2rem;
    }
}

/* home page media queries for screens smaller than 480px */
@media screen and (max-width: 480px) {

    .hero-text-container {
        padding: 1.3rem;
    }

    .hero-text-container h1 {
        font-size: 1.3rem;
    }

    .home-btn {
        font-size: 1rem;
    }

    .home-page-content {
        font-size: 1rem;
    }

    .img-hide {
        display: none;
    }

}

/* home page media queries for screens smaller than 370px */
@media screen and (max-width: 370px) {

    .logo {
        font-size: 1.1rem;
    }

    .hero-text-container {
        padding: 0.8rem;
    }

    .hero-text-container h1 {
        font-size: 1rem;
    }

    .home-btn {
        font-size: 0.7rem;
    }

    .small-home-btn {
        font-size: 0.9rem;
    }

}

/* contact.html css */

.contact-heading {
    color: var(--purple);
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
}

.contact-sub-heading {
    color: var(--purple);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
}

.purple-text {
    color: var(--purple);
}

.purple-border {
    border: solid 2px var(--purple);
    border-style: dotted;
    margin-bottom: 5rem;
}

/* products.html css */

.product-page-header {
    text-transform: uppercase;
}

/* cart.html css */

.checkout-btn {
    margin;
}

/* allauth login, signup, and logout */

.allauth-container {
    background-color: var(--light-pink);
    border: solid 2px var(--purple);
    border-style: dotted;
    padding: 4rem;
    margin: 3rem;
}

.allauth-btn button {
    font-size: 0.9rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.8rem;
    background-color: pink;
    color: purple;
    border: 2px solid purple;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.allauth-btn button:hover {
    background-color: purple;
    color: pink;
}

/* allauth media queries for screens smaller than 500px */
@media screen and (max-width: 500px) {
    .allauth-container {
        padding: 1.3rem;
    }
}

/* footer */

#footer {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: white;
    opacity: 0.9;
    color: var(--purple);
    border-top: solid 2px var(--purple);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    margin-top: 3px;
}

#footer a {
    padding: 0 1rem;
}

.social-media,
.social-media:link,
.social-media:visited {
    color: var(--purple);
}

.social-media:hover {
    color: purple;
}

/* contact */
.background-pink {
    background-color: var(--light-pink);
}

.purple-border {
    border: solid 2px var(purple);
}

/* Mailchimp */

#mc_embed_signup {
    background: #fff;
    false;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}