body {
    background-color: var(--light-pink);
}

.purple-text {
    color: var(--purple);
    font-weight: bold;
}

.community-heading {
    color: var(--purple);
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
}

.community-sub-heading {
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
}

.search-bar-input {
    border: solid 2px var(--purple);
    border-radius: 30px;
}

.search-bar-input:focus {
    border: solid 2px var(--purple);
    box-shadow: 0 0 5px var(--purple);
    z-index: 1;
}

.search-bar-btn {
    color: var(--purple);
    background-color: white;
    border: solid 2px var(--purple);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: transform 0.2s ease-in-out;
    z-index: 3;
}

.search-bar-btn:hover {
    transform: scale(1.1);
    z-index: 3;
}

.community-btn {
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-color: pink;
    color: purple;
    border: 2px solid purple;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.community-btn:hover {
    background-color: purple;
    color: pink;
}

.community-btn-sm {
        font-size: 0.9rem;
        font-weight: bolder;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.5rem 1.8rem;
        background-color: pink;
        color: purple;
        border: 2px solid purple;
        border-radius: 3px;
        transition-duration: 0.4s;
    }
    
    .community-btn-sm:hover {
        background-color: purple;
        color: pink;
    }

.add-post-container {
    border: 2px solid var(--purple);
    padding: 2rem;
}

.form-group label {
    color: var(--purple);
    font-weight: bold;
}

.add-btn-container {
    margin-top: 1rem;
}

.footer {
    position: fixed;
    margin-top: auto;
}


/* community page media quries for screens smaller than 400px */
@media screen and (max-width: 400px) {

    .community-heading {
        font-size: 1.9rem;
    }
}